{
	email admin@{$DOMAIN}
}

n8n.{$DOMAIN} {
	reverse_proxy n8n-editor:5678
}

hook.{$DOMAIN} {
	reverse_proxy n8n-webhooks:5678
}

api.{$DOMAIN} {
	reverse_proxy crewai-api:8001
}

ceo.{$DOMAIN} {
	reverse_proxy co-ceo-agent:8002
}

dash.{$DOMAIN} {
	reverse_proxy grafana:3000
}

bi.{$DOMAIN} {
	reverse_proxy metabase:3000
}

admin.{$DOMAIN} {
	reverse_proxy appsmith:80
}

claw.{$DOMAIN} {
	reverse_proxy openclaw:18789
}
